<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.ziv"
		versionCode="1"
		version   = "0.0.2">
		<name>ניהול אירועים</name>
		<description></description>

		<author href="reware.io">
			reware.io
		</author>

		<icon src="icon.png" />
		<splash src="splash.png"/>

		<feature name="http://api.phonegap.com/1.0/network"/>
		<access origin="*" subdomains="true" />
		<preference name="permissions" value="none"/>
		<preference name="loadUrlTimeoutValue" value="700000"/>
		<preference name="phonegap-version" value="cli-6.5.0" />
		<plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.7.1" />
		<plugin name="cordova-plugin-whitelist" source="npm" spec="~1" />
		<gap:platform name="android" />
		<allow-navigation href="*" />
		<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<allow-intent href="tel:*" />
		<allow-intent href="sms:*" />
		<allow-intent href="mailto:*" />
		<allow-intent href="geo:*" />
		<platform name="android">
			<allow-intent href="market:*" />
		</platform>

	</widget>
